<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Friends</title> 
	</head>
	<body>
		<div class="topnav">
            <a href="{{ url_for('homepage') }}">Home</a>
            <a href="{{ url_for('library') }}">Library</a>
            <a href="{{ url_for('playlists') }}">Playlists</a>
            <a class="active" href="{{ url_for('friends') }}">Friends</a>
            <div class="search-container">
                <form action="{{ url_for('search') }}" method="post">
                    <input type="text" placeholder="Search" name="search" value="{{ request.form.search }}">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
	</body>
</html>