<html>
    <head>
        <title>Big Jungle, the world's newest book store.</title>
    </head>
    <body>
        <pre style="color:forestgreen; background-color:linen;">
            888     d8b           d8b                        888
            888     Y8P           Y8P                        888
            888                                              888
            88888b. 888 .d88b.   8888888  88888888b.  .d88b. 888 .d88b.
            888 "88b888d88P"88b  "888888  888888 "88bd88P"88b888d8P  Y8b
            888  888888888  888   888888  888888  888888  88888888888888
            888 d88P888Y88b 888   888Y88b 888888  888Y88b 888888Y8b.
            88888P" 888 "Y88888   888 "Y88888888  888 "Y88888888 "Y8888
                            888   888                     888
                       Y8b d88P  d88P                Y8b d88P
                        "Y88P" 888P"                  "Y88P"
        </pre>
        <p>Welcome to Big Jungle, an online store that just sells books.</p>
        <p>Here is a list of the books you can buy:</p>
        <ul>
            <li>How to Build a Computer</li>
            <li>How to Boot a Computer</li>
            <li>How to Reboot a Computer</li>
            <li>How to Make a Computer Do What You Want</li>
            <li>How to Turn Off a Computer</li>
            <li>How to Go Outside and Play</li>
        </ul>
    </body>
</html>
